# Copyright (c) 2018 - 2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

# Create the directories used by DPM subsystem

on post-fs-data
    mkdir /data/dpm 0771 system system
    chown system system /data/dpm
